/* style for all card */
.theAllPost{
    padding: 80px 0;
}
.theAllPost .postTitle{
    margin: 0px 0px 24px 15px;
    padding: 4px 15px 24px 0px;
    border-bottom: 1px solid #e3e9ef !important;
}
.theAllPost .postTitle h2{
    font-size:27px;
    font-weight:700;
    margin: 0px 8px 0px 0px;
    padding: 0 0 0;
}
.theAllPost .card{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
}

/* style the left-card */
.theAllPost .the-left-card .product-img{
    width:100%; 
    height:100%;
}
.theAllPost .the-left-card .product-img img{
    width:100%; 
    height:100%;
}
.theAllPost .the-left-card .card-body h3{
    font-weight:600;
}
/* align icon clock ,progress bar for also left and right  */
.theAllPost  .card-body .card-text .icon-clock{
    margin-right: 5%;
}
.theAllPost  .like-progress{
    display: flex;
    align-items:center;

}
.theAllPost  .like-progress .progress-bar{
    background-color: red !important;

}
.theAllPost  .like-progress .icon-heart{
    font-size: 12px;
    margin-right: 5%;
    color: red;
}
/* ------------------------------------------------ */
.theAllPost .the-left-card .card-body .description{
    height: 80px;
    overflow: hidden;
}
/* style right card */
.theAllPost .the-right-card .product-img{
    width:100%; 
    height: 200px;
}
.theAllPost .the-right-card .product-img img{
    width:100%; 
    height:100%;
}
.theAllPost .the-right-card .card-body h2{
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}
.theAllPost .the-right-card .card-title{
    font-weight:600;
    text-align: center;
}

/* style right card footer*/
.theAllPost .footer {
    color: #999999;
    display: flex;
    text-align: center;
    height: 39.4px;
    overflow: hidden;
}
.theAllPost .footer-to-align-center{
    margin: auto;
}
.theAllPost.footer span{
     font-size: 12px;
}
/* style card-right description */
.theAllPost .the-right-card .card-body .description{
    height: 120px;
    overflow: hidden;
}
